# macOS
.DS_Store

# Node
node_modules/

# React Native
.expo/
.expo-shared/
*.log

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/.xcode.env.local
ios/**/*.xcuserstate
ios/**/xcuserdata/

# Android
android/.gradle/
android/app/build/
android/build/

